
<div class="main-header">
  
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
       <a href="#"><img src="../../../assets/images/logo.png" class="" alt="..."></a> 
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div id="userNavigation" *ngIf="!isAdmin ; else adminNavigation"></div>
          <ul class="navbar-nav mr-auto">     
          </ul>
          <ng-template id="adminNavigation" #adminNavigation>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" routerLink="/home">Admin Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/studentList" >lists of students</a>
              </li>
         
        
              <li class="nav-item">
                <a class="nav-link" routerLink="/"><i class="fa fa-user-circle-o" aria-hidden="true"></i>Logout</a>
              </li>   
            </ul>
        
          </ng-template>
        </div>
    </div>
      </nav>
   
</div>
